*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  scroll-behavior: smooth;
  font-family: 'Open Sans';
}

header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  background-color: rgb(244, 244, 244);
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}


#footnav > li > a:hover {
  color: blue;
  
}

p {
  font-size: 1.5rem;
}


